body {
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size:larger;
    margin: auto;
    padding: auto;
    background-image: url("Fotos/a0c66ca0a5297ccadcba1d632ff52b9f.png");
}
